<div class="container-fluid">
  <h2>Formulário de registro</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" >
    {{registrationForm.value | json}}
    <div class="form-group">
      <label>Nome de usuário</label>
      <input [class.is-invalid]="userName?.invalid &&
      userName?.touched" formControlName="userName" type="text" class="form-control">
      <!--<small class="text-danger" [class.d-none]="registrationForm.get('userName')?.valid 
      || registrationForm.get('userName')?.untouched">Nome de usuário não pode ser vazio</small>-->
      <div *ngIf="registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched">
        <small *ngIf="userName?.errors?.['required']" class="text-danger">Nome de usuário não pode ser vazio</small>
        <small *ngIf="userName?.errors?.['minlength']" class="text-danger">Nome de usuário precisa de no mínimo 3 caracters</small>
        <small *ngIf="userName?.errors?.['forbiddenName']" class="text-danger">{{userName?.errors?.['forbiddenName'].value}}Nome de usuário não permitido</small>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmail()">Adicionar email</button>
      <input [class.is-invalid]="email?.invalid && email?.touched" type="text" formControlName="email" class="form-control">
      <small [class.d-none]="email?.valid || email?.untouched" class="text-danger">Email não pode ser vazio</small>
      <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
        <input type="text" class="form-control my-1" [formControlName]="i">
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" formControlName="subscribe" type="checkbox">
      <label class="form-check-label">Me envie ofertas promocionais</label>
    </div>

    <div class="form-group">
      <label>Senha</label>
      <input formControlName="password" type="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirmar senha</label>
      <input [class.is-invalid]="registrationForm.errors?.['misMatch']" formControlName="confirmPassword" type="password" class="form-control">
      <small *ngIf="registrationForm?.errors?.['misMatch']" class="text-danger">Senhas não coincidem</small>
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <label>Cidade</label>
        <input formControlName="city" type="text" class="form-control">
      </div>


      <div class="form-group">
        <label>Estado</label>
        <input formControlName="state" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>Código postal</label>
        <input formControlName="postalCode" type="text" class="form-control">
      </div>
    </div>

    <button [disabled]="!registrationForm.valid" class="btn btn-primary" type="submit">Registrar</button>
    <button  (click)="loadApiData()" class="btn btn-secondary ml-2" type="button">Carregar dados da API</button>
  </form>
</div>